.card-user {
  display: flex;
  height: fit-content;

  .container-img {
    display: 'flex'; 
    align-items: 'center';
    margin-right: 20px;
  }

  .img {
    width: inherit;
    border-radius: 50% !important;
    max-width: 100px;
    min-height: 100px;
    margin: 5px;
    cursor: pointer;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.table td {
  text-align: center;
}

