.container {
    padding: 2em;

    @media (max-width: 768px){
        flex-direction: column !important;
    }
}

.col-right {
    width: 33%;

    @media (max-width: 768px){
        width: 100% !important;
    }
}

.col-left{
    width: 66%;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px){
        width: 100%;
        margin-bottom: 1em;
    }
}

.title {
    color: #000
}

.my-card {
    border-radius: 1em;
    background-color: #fff;
    //box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    padding: 1em;
    display: flex;
}

.card-user {
    height: fit-content;
    .img {
        width: inherit;
        border-radius: 50% !important;
        max-width: 100px;
        min-height: 100px;
        margin: 5px;
        cursor: pointer;
    }
}

.card-imgs {
    .img-container {
        display: flex;
        flex-wrap: wrap;
    }
    .img {
        width: 50%;
        max-height: 100%;
        max-width: 100%;
        padding: 5px;
        cursor: pointer;

        @media (max-width: 768px){
            width: 100% !important;
        }
    }
}

.btn-peruibe {
    padding: 7px 7px;
    border-radius: -2rem;
    font-size: 12px;
    color: #28a745 ;
    background-color: transparent;
    border-color: #28a745 ;
    margin-bottom: 5px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-peruibe_r{
    padding: 7px 7px;
    border-radius: -2rem;
    font-size: 12px;
    color: #dc3545 ;
    background-color: transparent;
    border-color: #dc3545 ;
    margin-bottom: 5px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.info {
    display: flex;
    flex-direction: column;
}

.table td {
    text-align: center;
}
